<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    

    
    <!-- start signup form -->
    <main class="form-signup text-center" id="mainArea">
        <form method="post" action="/" id="signinForm">
        <h1 class="">Sign <span>in</span></h1>
        <p class="" role="alert" id="signinFormAlert"></p>
        <div class="form-floating">
            <input class="form-control" type="email" id="emailInput" placeholder="Email" name="email">
            <label class="form-label" for="emailInput">Email</label>
        </div>
        <div class="form-floating">
            <input class="form-control" type="password" id="passwordInput" placeholder="Password" name="password">
            <label class="form-label" for="passwordInput">Password</label>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="Agree">
                    Keep me signed in
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary">Sign in</button>
        </form>
    </main>
    <!-- end signup form -->
  

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/signin.js"></script>
</body>
</html>